<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue学习</title>
  <script src="lib/vue.js"></script>
</head>
<body>
<div id="example">
  <p>Original message:"{{message}}"</p>
  <p>Computed reversed message:"{{reversedMessage}}"</p>
</div>

<!--<div id='example-3'>-->
<!--<input type="checkbox" id="jack" value="Jack" v-model="checkedNames">-->
<!--<label for="jack">Jack</label>-->
<!--<input type="checkbox" id="john" value="John" v-model="checkedNames">-->
<!--<label for="john">John</label>-->
<!--<input type="checkbox" id="mike" value="Mike" v-model="checkedNames">-->
<!--<label for="mike">Mike</label>-->
<!--<br>-->
<!--<span>Checked names: {{ checkedNames }}</span>-->
<!--</div>-->

<div id="example-4">
  <input type="radio" id="one" value="One" v-model="picked">
  <label for="one">One</label>
  <br>
  <input type="radio" id="two" value="Two" v-model="picked">
  <label for="two">Two</label>
  <br>
  <span>Picked: {{ picked }}</span>
</div>

<label>Choose a browser from this list:
  <input list="browsers" name="myBrowser"/></label>
<datalist id="browsers">
  <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
  <!--<label for="jack">Jack</label>-->
  <input type="checkbox" id="john" value="John" v-model="checkedNames">
  <!--<label for="john">John</label>-->
  <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
  <!--<label for="mike">Mike</label>-->
  <!--<p>"Chrome"</p>-->
  <!--<p>"Firefox"</p>-->

  <!--<option value="Chrome">-->
  <!--<option value="Firefox">-->
  <!--<option value="Internet Explorer">-->
  <!--<option value="Opera">-->
  <!--<option value="Safari">-->
</datalist>

<div id="example-6">
  <select v-model="selected" multiple>
    <option>A</option>
    <option>B</option>
    <option>C</option>
  </select>
  <br>
  <span>Selected: {{ selected }}</span>
</div>

<div id="example-7">
  <input v-model.lazy="message" placeholder="edit me">
  <p>Message is: {{ message }}</p>
</div>

</body>
<script src="js/index.js"></script>
</html>